{{page-title "books"}}
{{outlet}}

<div class="layout-row">
  <div class="flex table-example">
    <div class="d-flex justify-content-between align-items-center">
          <h2>Books</h2>
          {{#if isAdmin}}
            <div class="d-flex">
          {{!--               <img class="img-fluid" width="10px" src="https://iili.io/JRV5cZv.png" alt="cross-icon" {{action 'closeAddStackPopup'}}> --}}
             <a href="/a/books/new" class=""> <span class="btn btn-dark form-control" >Add Book</span></a>
            </div>
          {{/if}}
    </div>

    <WebComp::TableView @model={{model}} @columns={{columns}} @rows={{rows}} @isAdmin={{isAdmin}} @actionName={{"borrow"}} @onBorrowBooks={{this.borrowBooks}}/>
  </div>
</div>

