<DataTable @content={{model}} class={{if @isAdmin "admin-table"}} as |t|>
  <t.menu as |menu|>
    <menu.selected as |selection datatable|>
       <PaperButton @onClick={{action "handleAction" selection datatable}} @accent={{true}} @noInk={{true}}> {{actionName}} </PaperButton>
    </menu.selected>
  </t.menu>
  <t.content as |c|>
    <c.header>
      {{#each @columns as |column|}}
        {{#if column.sortable}}
          {{th-sortable field=column.field currentSorting=@sort label=column.label}}
        {{else}}
          <th>{{column.label}}</th>
        {{/if}}
      {{/each}}
    </c.header>
    <c.body as |row|>
         {{#each @columns as |column|}}
             {{#if (eq column.field 'actions')}}
              <td width="17%">
               <div>
                  {{#link-to "books.edit" row.id class="btn btn-warning mr-2"}}Edit{{/link-to}}
                   <button class="btn btn-danger" type="button" onclick={{action "onBookDelete" row.id}}>Delete</button>
               </div>
              </td>
            {{else if (eq column.field 'is_returned')}}
              <td>
                {{#if row.is_returned}}
                  returned
                {{else}}
                  Borrowed
                {{/if}}
              </td>
            {{else}}
              <td>
                {{get row column.field}}
              </td>
             {{/if}}
         {{/each}}
    </c.body>
  </t.content>
</DataTable>