<DataTable @content={{model}} @isLoading={{isLoadingModel}} @sort={{sort}} @page={{page}} @filter={{filter}} @size={{size}} @enableSizes={{enableSizes}} @lineNumbers={{enableLineNumbers}} as |t|>
  <t.menu as |menu|>
    <menu.selected as |selection datatable|>
       <PaperButton @onClick={{action "borrowBooks" selection}} @accent={{true}} @noInk={{true}}>borrow</PaperButton>
    </menu.selected>
  </t.menu>
  <t.content as |c|>
    <c.header>
      {{#each @columns as |column|}}
        {{#if column.sortable}}
          {{th-sortable field=column.field currentSorting=@sort label=column.label}}
        {{else}}
          <th>{{column.label}}</th>
        {{/if}}
      {{/each}}
    </c.header>
    <c.body as |row|>
         {{#each @columns as |column|}}
           <td>{{get row column.field}}</td>
         {{/each}}
    </c.body>
  </t.content>
</DataTable>