{{page-title "BorrowedBooks"}}
  <div class="d-flex align-items-center">
    {{#if isAdmin}}
        <h2>Book Circulations</h2>
     {{else}}
        <h2>My Borrowed Books</h2>
     {{/if}}
  </div>
   {{#if isAdmin}}
   <WebComp::TableView @model={{model}} @columns={{columns}} @rows={{rows}} />
   {{else}}
   <WebComp::TableView @model={{model}} @columns={{columns}} @rows={{rows}} @actionName={{"return"}} @isAdmin={{isAdmin}} @onReturnBooks={{this.returnBooks}}/>
   {{/if}}
{{outlet}}