{{page-title "Users"}}
    <div class="d-flex align-items-center">
          <h2>All Users</h2>
    </div>
 <WebComp::TableView @model={{model}} @columns={{columns}} @rows={{rows}} @isAdmin={{isAdmin}} @onBorrowBooks={{this.borrowBooks}}/>
{{outlet}}